<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="/jquery-3.3.1.min.js"></script>
    <!-- <link rel="stylesheet" href="/all.css"> -->
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/mdb.min.css" rel="stylesheet">
    <!-- <link href='/home.css' rel='stylesheet' type='text/css'/> -->
    <link rel="stylesheet" href="/form.css" type="text/css">
</head>
<body>
   
    <div class="container ">
        <div class="row">
           

            <div class="col-md-6 card m-5 border-secondary">
                    <form autocomplete="on" action="/auth/login" method="post">
                        <div class="form-group">
                            <label class="pt-2" for="username">User Name:</label>
                            <input class="form-control" type="text" name="username" id="username" placeholder="Abinet Solomon">
                        </div>
                        <div class="form-group">
                           <label for="email">Email:</label>
                           <input class="form-control" type="text" name="email" id="email" placeholder="etiya2000@gmail.com">
                       </div>
                       <div  class="form-group">
                        <label for="password">Password:</label>
                        <input class="form-control" type="password" name="password" id="password">
                    </div>
                    
                       <button class="btn btn-secondary btn-md btn-block"  type="submit" value="Login">Login</button>
                       <div  class="form-row mt-2">
                           <div class="col-md-6"> <a href="/registor">Sign Up</a></div>
                           <div class="col-md-6">
                                <a href="#">Forget Password</a>
                           </div>
                           
                        </div>
                   </form> 

            </div>
            <div class="col-md-3"></div>
        </div>
            




















































        <!-- <div class="row form-container">
          
            <div class="form-row">
                </div>
               
        </div> -->
            </div>
            
       
   
      
  
   <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/mdb.min.js"></script> 
</body>
</html>