<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="/jquery-3.3.1.min.js"></script>
    <!-- <link rel="stylesheet" href="/all.css"> -->
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/mdb.min.css" rel="stylesheet">
    <link href='/home.css' rel='stylesheet' type='text/css'/>
</head>
<body>
    <div class="container">
     
              <%- include('navbar') %>
             
             
        
    </div>    
   
   <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/mdb.min.js"></script>  
</body>
</html>